In [1]:
import pandas as pd
import numpy as np

col_names = ['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar', 'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol', 'quality' ]
df = pd.read_csv('../data/anggur.csv', names = col_names)
df = df.drop([0])
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1,5.9,0.4451,0.1813,2.049401312441085,0.070574489612481,16.59381751499067,42.27,0.9982,3.27,0.71,8.64,7
2,8.4,0.5768,0.2099,3.109590324079827,0.101681448549234,22.55551936905905,16.01,0.996,3.35,0.57,10.03,8
3,7.54,0.5918,0.3248,3.673744380694597,0.0724155344849959,9.316866115881428,35.52,0.999,3.31,0.64,9.23,8
4,5.39,0.4201,0.3131,3.371814589273552,0.0727545223136335,18.21229953192828,41.97,0.9945,3.34,0.55,14.07,9
5,6.51,0.5675,0.194,4.404723422336784,0.0663785866479429,9.36059127492037,46.27,0.9925,3.27,0.45,11.49,8

In [2]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000
unique,417,879,769,1000,1000,1000,881,107,61,60,490,6
top,6.54,0.5546,0.3019,2.049401312441085,0.070574489612481,16.59381751499067,40.61,0.9961,3.34,0.59,10.31,8
freq,11,4,5,1,1,1,3,25,43,53,7,449